
@{
    ViewBag.Title = "DeleteFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-4 text-center">Filmler</h1>
<div class="row my-4 col-md-10 mx-auto" id="DeleteFilmCard">

  
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/wwwroot/ChallengeJs/FilmScript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        deleteFilmList();
    });
</script>